<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron">
        <h1 class="display-5">Posts You need</h1>
        <p class="lead">Have a nice way of blogging on your own and free.</p>
        <hr class="my-4">
        <p>There has to be like creative people.</p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      </div>
      <h1 style="font-size: 30px;text-align: center;">Things you can do Here</h1><br>
      <center>
      <ul class="list-group">
        <div class="container-fluid">
            <div class="row-fluid">
                      <div class="form-group col-md-4">
        <li class="list-group-item active">You can create your blog</li>
        <li class="list-group-item">The people who follows you can see and review your blog</li>
        <li class="list-group-item">There is a chat server for having a chat with friends</li>
        <li class="list-group-item">Upload your Resume</li>
        <li class="list-group-item">VIable Website</li>
        </div>
        </div>
        </div>
    </ul>
</center>
    
</body>
</html>