<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>blog</title>
  </head>
  <style>
    body{
      background-color:azure;

    }
    #ok{
      color:darkslategrey;
      font-size: 34px;
      font-family: cursive;
    }
    h1{
      color:azure;
      font-size: 40px;
      background-color: black;
      text-align: center;
      font-family: cursive;
    }
  </style>
  <body>
    <h1><center>
      My blogs
    </center></h1>
    <hr /><br />
    <center>
      <ul id="ok">
        <% for(var i of arr) {%>
          <li>
            <%= i %>
            <hr />
          </li>
        <% } %>

      </ul>




    </center>

  </body>
</html>
