<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
  </head>

  <body bgcolor="azure">
    <center>


    <div class="id">
      <h1>Your Inbox</h1>

    </div>
    <ul >


    <% for i of a { %>
      <li>
        <%=i %>
      </li>
    <% }%>

      </center>
</html>
